header {
    position: fixed;
    background-color: white;
    width: 100%;

}


.home {
    background-image: url("../img/rainbow-nebula.jpeg");
    background-size: cover;
    height:750px;
    width:100%;
    display: inline-block;
}

.btn-conor {
    border-style: solid;
    border-color: white;
    background: rgba(54, 25, 25, .00004);
    color: white;
    border-width: medium;
    width: 120px;
    height: 70px;
}

.btn-conor:hover {
    border-style: solid;
    border-color: white;
    color: white;
    background: rgba(255, 255, 255, .3);
}

.home-content {
    /*position: relative;
    top: 500px;
    left: 100px;*/
}

.hire-btn {
    position: absolute;
    top: 70%;
    left: 25%;
}

.work-btn {
    position: absolute;
    top: 70%;
    left: 70%;
}

body {
    background-color: black;
}

.home-button {
    position: fixed;
    left: 95%;
}
