<div class="home">
    <div class="home-content">
        <button class="btn btn-conor" showpage="hire">Hire</button>
        <button class="btn btn-conor" showpage="work">Work</button>
    </div>
</div>

<div class="hire hidden">
    <h1>Hire freelancers for a fraction of the cost!</h1>
    <button class="btn btn-danger home-button" showhome="hire">X</button>
</div>

<div class="work hidden">
    <h1>So you want to work!</h1>
    <button class="btn btn-danger home-button" showhome="work">X</button>
</div>
