<div class="home">
    <div class="home-content">
        <div class="hire-btn">
            <button class="btn btn-conor" showpage="hire" hidepage="home">Hire</button>
        </div>
        <div class="work-btn">
            <button class="btn btn-conor" showpage="work" hidepage="home">Work</button>
        </div>
    </div>
</div>

<div class="hire hidden homepage">
    <h1>
        Hire freelancers for a fraction of the cost!
        <button class="btn btn-danger home-button" showpage="home" hidepage="hire">X</button>
    </h1>
</div>

<div class="work hidden homepage">
    <h1>
        So you want to work!
        <button class="btn btn-danger home-button" showpage="home" hidepage="work">X</button>
    </h1>
</div>
